<html>

<head>
    <title>deck.gl and Google Maps Platform</title>

    <script src="https://unpkg.com/deck.gl@^9.0.0/dist.min.js"></script>
    <script src="https://unpkg.com/@deck.gl/layers@latest/dist.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>

    <script type="text/javascript">
        const { MapboxOverlay } = deck;
    </script>

    <script src="https://unpkg.com/deck.gl@^9.0.0/dist.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet" />

    <style>
        /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
        #map {
            height: 100%;
        }

        /* 
 * Optional: Makes the sample page fill the window. 
 */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    <div id="map"></div>

    <script type="text/javascript">
        //This example renders a scatterplot with DeckGL, on top of a basemap rendered with mapbox-gl, using a map style JSON from Carto.
        const { DeckGL, ScatterplotLayer } = deck;

        new DeckGL({
            mapboxApiAccessToken: 'pk.eyJ1IjoiYW5kZXJzb243MTY4IiwiYSI6ImNtMnczMmVnMDAybWIycHEzNzV2Yms4enMifQ.AinM6ZxkQD6k0iu_7cNSaA',
            mapStyle: 'mapbox://styles/mapbox/light-v9',
            initialViewState: {
                longitude: -122.45,
                latitude: 37.8,
                zoom: 6
            },
            controller: true,
            layers: [
                new ScatterplotLayer({
                    data: [
                        { position: [-122.45, 37.8], color: [255, 0, 0], radius: 100 }
                    ],
                    getPosition: d => d.position,
                    getFillColor: d => d.color,
                    getRadius: d => d.radius
                })
            ]
        });

    </script>
</body>

</html>