<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js Map</title>
</head>

<body>
    <h2>Simple D3 Map with Mock GeoJSON Data</h2>

    <!-- Load D3.js -->
    <script>
        import * as d3 from 'd3';

        const w = 975;
        const h = 610;
ß
        const svg = d3.create('svg')
            .attr('height'.h)
            .attr('width'.w)
        const statesBackground = svg
            .append('path')
            .attr('fill', '#ddd')
            .attr('d', path(topojson.feature(us, us.objects.nation)));
        
            const statesBorders = svg
                .append('path')
                .attr('fill', 'none')
                .attr('stroke', '#fff')
                .attr('stroke-linejoin', 'round')
                .attr('stroke-linecap', 'round')
    </script>
</body>

</html>