.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
  }
  .analysisBox{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #efefef;
  }

  .desciptionBox{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .descriptionBox .title {
    font-size: 2em; /* adjust as needed */
    font-weight: bold;
    text-align: center;
  }

  .descriptionBox .description {
    text-align: center;
  }
  .dataCard {
    border-radius: 0.5em;
    padding: 1em;
  }
  
  .lineCard {
    width: 50%;

  }

  
  .doughnutCard {
    width: 40%;
    height: 20rem;
  }