node_modules/
.venv/
venv/            # If you named the Python virtual environment 'venv'
.env             # Exclude environment variables for security reasons
database/database-sqlite/
flask-api/api/SeniorProject.db
node-app/public/js/data