<section class="features-metrics">
    <div class="container-6">
      <div class="features-wrapper">
        <div class="features-block">
          <div class="features-title">400</div>
          <div>Total Users </div>
        </div>
        <div class="features-block">
          <div class="features-title">57<span class="features-title-small">%</span></div>
          <div>Current CO2 Emission</div>
        </div>
        <div class="features-block">
          <div class="features-title">10</div>
          <div>Total Cities Covered</div>
        </div>
        <div class="features-block">
          <div class="features-title">97.98<span class="features-title-small">%</span></div>
          <div>Prediction Accuracy</div>
        </div>
      </div>
    </div>
  </section>