.about-container {
  display:-ms-flexbox;
  gap: 20px;
}

.person-card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.person-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0);
}

.person-text {
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: 0;
  /* Text behind the canvas */
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity */
  color: white;
  /* Text color */
  background: rgba(0, 0, 0, 0.5);
  /* Optional: background for readability */
  padding: 10px;
  /* Optional: padding */
}

/* Show text on canvas hover */
.person-card:hover .person-text {
  opacity: 1;
  /* Show the text when hovered */
}

.person-info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: #fff;
}

.person-card {
  position: relative;
  display: inline-block;
  margin: 20px;
  /* Adjust spacing as needed */
}

.person-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* Ensure the canvas is on top */
  pointer-events: auto;
  /* Allow mouse events on the canvas */
}